<html>
    <head>
        {% if title %}
            <title>{{ title }} - Hermitblog</title>
        {% else %}
            <title>Welcome to Hermitblog</title>
        {% endif %}
    </head>
    <body>
      <div>Hermitblog:
        <a href="/index">Home</a>
        <a href="/login">Login</a>
      </div>
        <hr>
        {% block content %}
        {% endblock content %}
    </body>
</html>
