<html>
    <head>
        {% if title %}
            <title>{{ title }} - Hermitblog</title>
        {% else %}
            <title>Welcome to Hermitblog</title>
        {% endif %}
    </head>
    <body>
        <h1>Hello, {{ name }}!</h1>
        {% for post in posts %}
            <div>
                <p>{{ name }} says: {{ post.body }}</p>
            </div>
        {% endfor %}
    </body>
</html>
