{% extends "base" %}

{% block content %}
    <h1>logout!</h1>
    <p>(nothing actually happened, this is a stub template! probably should make a route that handles a post request
    here instead)</p>
{% endblock content %}

